<!-- headder -->
<%-include('include/_header')%>
<!-- /headder -->

<div class="container">
    <!-- section1 -->
   <div class="section1_firstdiv text-center m-5">
       <a href="/" class="new_user text-decoration-none  p-2 "><span class="bi bi-chevron-double-left"></span>Update User </a>
   </div>
   <!-- section2 -->
  
   <!-- adduser form -->
   <%-include('include/_form')%>
   <!-- /add_user form -->

</div>

<!-- <footer> -->
<%-include('include/_footer')%>
<!-- </footer> -->