<tr>
    <td>1</td>
    <td>jeevan</td>
    <td>jeevanaj@123</td>
    <td>male</td>
    <td>active</td>
    <td class="d-flex justify-content-between px-5" id="trash-pen-id">
        <div>
            <a href="" class="delete_button">
                <span class="bi bi-trash"></span>
            </a>
        </div>
        <div>
            <a href="/update_user" class="edit_button">
                <span class="bi bi-pen"></span>
            </a>
        </div>
       
    </td>
    
</tr>